@{
    ViewData["Title"] = "Home Page";
}

<div class="container">

    <!-- Main component for a primary marketing message or call to action -->
    <div class="jumbotron">
        <h1>Intraday trading</h1>
        <p>This website shows the stocks picked by different stratigies upon the current day market opening. Stratigies are written in python, hosted on Azure cloud and running every morning.</p>
        <p>To see and/or contribute to the project, please check the repo below.</p>
        <p>
            <a class="btn btn-lg btn-primary" href="https://github.com/callmecary/research" role="button">View source code &raquo;</a>
        </p>
    </div>

</div>

